<div id="filter-tax-switch-container">

    <!-- Category Section -->
    <div class="category-slider-container">
        <button class="navigation-btn left-nav-arrow">
            <svg xmlns="http://www.w3.org/2000/svg" height="20" width="12.5" viewBox="0 0 320 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                <path fill="#000000" d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z" />
            </svg>
        </button>

        <div class="category-container" id="slider">
            <div class="category">
                <i class="fa-solid fa-mountain-sun"></i>
                <small>Amazing Views</small>
            </div>
            <div class="category">
                <i class="fa-solid fa-fire"></i>
                <small>Tranding</small>
            </div>
            <div class="category">
                <i class="fa-solid fa-mug-hot"></i>
                <small>Bed & Breakfasts</small>
            </div>
            <div class="category">
                <i class="fa-regular fa-snowflake"></i>
                <small>Arctic</small>
            </div>
            <div class="category">
                <i class="fa-solid fa-campground"></i>
                <small>Capmping</small>
            </div>
            <div class="category">
                <i class="fa-solid fa-person-swimming"></i>
                <small>Amazing Pools</small>
            </div>
            <div class="category">
                <i class="fa-brands fa-fort-awesome"></i>
                <small>Castles</small>
            </div>
            <div class="category">
                <i class="fa-solid fa-tractor"></i>
                <small>Farms</small>
            </div>
            <div class="category">
                <i class="fa-solid fa-person-shelter"></i>
                <small>Rooms</small>
            </div>
            <div class="category">
                <i class="fa-solid fa-tree"></i>
                <small>Treehouse</small>
            </div>
            <div class="category">
                <i class="fa-solid fa-mountain"></i>
                <small>Countryside</small>
            </div>
            <div class="category">
                <i class="fa-solid fa-house-flood-water"></i>
                <small>Lakefront</small>
            </div>
            <div class="category">
                <i class="fa-solid fa-mountain-city"></i>
                <small>Top of the World</small>
            </div>
            <div class="category">
                <i class="fa-solid fa-tree-city"></i>
                <small>Top Cities</small>
            </div>
            <div class="category">
                <i class="fa-solid fa-umbrella-beach"></i>
                <small>Beach</small>
            </div>
            <div class="category">
                <i class="fa-solid fa-water"></i>
                <small>Lake</small>
            </div>
        </div>

        <button class="navigation-btn right-nav-arrow">
            <svg xmlns="http://www.w3.org/2000/svg" height="20" width="12.5" viewBox="0 0 320 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                <path fill="#000000" d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
            </svg>
        </button>
    </div>

    <!-- Tax Switch Section -->
    <div class="tax-toggle-container">
        <div class="form-check-reverse form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" onclick="texSwitchToggle()">
            <label class="form-check-label" for="flexSwitchCheckDefault">Display total before taxes</label>
        </div>
    </div>
</div>